In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [2]:
movie_title = []
movie_link = []
movie_year = []

page_nos = [25001,10001,8001,7501,6001,4501,3501,3501,2001,2001,1001,1001,801,801,601,601,301,301,301]
genres = ['action','drama','thriller','crime','adventure','comedy','sci-fi','romance','fantasy','horror',
          'war','mystery','western','history','family','animation','sport','biography','musical']


for genre in tqdm(range(len(genres))) :
    page_no = 1
    while page_no <= page_nos[genre]:
        url =  f'https://www.imdb.com/search/title/?title_type=feature&genres={genres[genre]}&start={page_no}&explore=genres&ref_=adv_nxt'
#         print(url)
        webpage = requests.get(url).text
        soup=BeautifulSoup(webpage,'lxml')

        movies=soup.find_all('h3',class_='lister-item-header')
        for movie in movies:
            check = movie.find('a').text
            if check not in movie_title:
                movie_title.append(check)
                movie_year.append(movie.find('span', class_='lister-item-year').text)
                x = movie.find('a',href=True)
                movie_link.append(x['href'])

        page_no += 50

100%|██████████| 19/19 [22:30<00:00, 71.10s/it]

In [3]:
len(movie_title)

28676

# Creating a DataFrame

In [4]:
df=pd.DataFrame({'movie title':movie_title,'year':movie_year,'path':movie_link}) 
df.shape

(28676, 3)

In [5]:
df = df.drop_duplicates()

In [6]:
df.shape

(28676, 3)

In [7]:
df.head(5)

                         movie title    year                path
0  Ant-Man and the Wasp: Quantumania  (2023)  /title/tt10954600/
1           Avatar: The Way of Water  (2022)   /title/tt1630029/
2     Black Panther: Wakanda Forever  (2022)   /title/tt9114286/
3  Everything Everywhere All at Once  (2022)   /title/tt6710474/
4     All Quiet on the Western Front  (2022)   /title/tt1016150/

In [8]:
df.to_csv('Movie Path Link .csv', index=False)